@model SportFixtureTracking.Models.FixtureResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FixtureResult</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fixture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fixture.IsFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinnerTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinnerTeam.TeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ResultId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
