@model IEnumerable<SportFixtureTracking.Models.FixtureResult>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Fixture Results</h1>

</div>
<table class="table table-hover" style="background-color:#272727;">
    <thead>
        <tr style="color: aliceblue; text-align: center">
            <th>
                Home Team
            </th>
            <th>
                Away Team
            </th>
            <th>
                Home Team Score
            </th>
            <th>
                Away Team Score
            </th>
            <th>
                Is Finished
            </th>
            <th>
                Winner Team
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="color: aliceblue; text-align: center">
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.HomeTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixture.AwayTeam.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayTeamScore)
            </td>

            @{if (item.Fixture.IsFinished.Contains('Y'))
                {
                    <td>
                        <i class="fas fa-check" style="color:#26b118"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WinnerTeam.TeamName)
                    </td>
                }
                else
                {
                    <td>
                        <i class="fas fa-times" style="color:#e44141"></i>
                    </td>
                    <td>
                 
                    </td>
                }

                }
                <td style="color: aliceblue; text-align: center">
                    <a asp-action="Edit" asp-route-id="@item.ResultId">
                        <i class="fas fa-edit" style="color:#c6ab19"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.ResultId">
                        <i class="fas fa-trash-alt" style="color:#bb3939"></i>
                    </a>
                </td>
        </tr>
}
    </tbody>
</table>
