@model SportFixtureTracking.Models.Fixture

@{
    ViewData["Title"] = "Delete";
}


<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Deleting @Model.HomeTeam.TeamName - @Model.AwayTeam.TeamName </h1>

</div>
<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:aliceblue">
            Date
        </dt>
        <dd class="col-sm-10" style="color:#9d9d9d">
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue">
            Home
        </dt>
        <dd class="col-sm-10" style="color:#9d9d9d">
            @Html.DisplayFor(model => model.FixtureHome)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue">
            Finished
        </dt>
        <dd class="col-sm-10" style="color:#9d9d9d">

            @{ if (Model.IsFinished.Contains('Y'))
                {
                    <i class="fas fa-check" style="color:#26b118"></i>
                }
                else
                {
                    <i class="fas fa-times" style="color:#e44141"></i>
                }
            }
        </dd>
        <dt class="col-sm-2" style="color:aliceblue">
            Away Team
        </dt>
        <dd class="col-sm-10" style="color:#9d9d9d">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue">
            Home Team
        </dt>
        <dd class="col-sm-10" style="color:#9d9d9d">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
    </dl>

    <form asp-action="Delete" class="d-flex justify-content-center align-items-center h-100">
        <input type="hidden" asp-for="FixtureId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-right:50px;"/>
        <a asp-action="Index">
            <i class="fas fa-reply" style="color:coral"></i>
        </a>
    </form>
</div>
