@model SportFixtureTracking.Models.Fixture

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Fixture</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixtureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixtureHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixtureHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.TeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.TeamName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FixtureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
