@model IEnumerable<SportFixtureTracking.Models.Team>

@{
    ViewData["Title"] = "Index";
   

    IEnumerable<Team> Teams = ViewData["Teams"] as IEnumerable<Team>;
}


<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Teams</h1>

</div>
<table class="table table-hover" style="background-color:#272727;">
    <thead>
        <tr style="color:aliceblue;text-align:center">
            <th>
                Name
            </th>
            <th>
                Player Count
            </th>
            <th>
                Club
            </th>
            <th>
                Sport
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{if (ViewData["Teams"] != null)
            {
                @foreach (var item in Teams)
                {
                    <tr style="color: #9d9d9d; text-align: center">
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Club.ClubName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sport.SportName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TeamId">
                                <i class="fas fa-edit" style="color:#c6ab19"></i>
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.TeamId">
                                <i class="fas fa-trash-alt" style="color:#bb3939"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            else
            {

                @foreach (var item in Model)
                {
                    <tr style="color: #9d9d9d; text-align: center">
                        <td>
                            @Html.DisplayFor(modelItem => item.TeamName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlayerCount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Club.ClubName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sport.SportName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.TeamId">
                                <i class="fas fa-edit" style="color:#c6ab19"></i>
                            </a> |
                            <a asp-action="Delete" asp-route-id="@item.TeamId">
                                <i class="fas fa-trash-alt" style="color:#bb3939"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
            

        }

    </tbody>
</table>

<div class="d-flex justify-content-center align-items-center h-100">
    <a asp-action="Create" style="color: #c6ab19; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
        <i class="fas fa-plus fa-1x" style="color:#c6ab19;"></i> New
    </a>
</div>